html {
    scroll-behavior: smooth;
}

body {
    background-color: #373F47;
    font-family: "PT Sans", serif;
    border: 0px;
    padding: 0px;
}

.container {
    display: flex;
    width: 900px;
    padding: 20px;
    margin: 40px auto;
    background-color: #D1E5F4;
    border-radius: 20px;
}

h1 {
    font-family: "PT Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

h2 {
    font-family: "PT Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

h3 {
    font-family: "PT Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}


p {
    font-family: "PT Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

nav {
    background-color: #FA7E61;
    padding: 5px;
    filter: drop-shadow(5px 5px 10px #F75F5F);
    position: fixed;
    width: 100%;
    top: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    margin: 0 auto;
}

.menu-container li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
/* for mobile */
@media screen and (max-width: 576px) {
    .container {
        flex-direction: column-reverse;
    }
}

.sidebar {
    background-color: #EFF6FB;
    padding: 5px;
    border-radius: 20px;
}

.content {
    padding: 5px;
}